<form [formGroup]="fg" (ngSubmit)="guardar()" autocomplete="off">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      placeholder="Ingresar nombre..."
      formControlName="nombre"
    />
    <ul>
      <li *ngFor="let r of searchResults">{{ r }}</li>
    </ul>
    <div *ngIf="fg.controls['nombre'].hasError('required')" class="text-danger">
      Nombre requerido
    </div>
    <div
      *ngIf="fg.controls['nombre'].hasError('invalidNombre')"
      class="text-danger"
    >
      Nombre invalido
    </div>
    <div
      *ngIf="fg.controls['nombre'].hasError('minLogNombre')"
      class="text-danger"
    >
      Nombre debe tener al menos {{ minLongitud }} de largo
    </div>
  </div>
  <div class="form-group">
    <label for="Imagen	Url">Imagen Url</label>
    <input
      type="text"
      class="form-control"
      id="imagenUrl"
      placeholder="Ingresar url..."
      formControlName="url"
    />
    <div *ngIf="fg.controls['url'].hasError('required')" class="text-danger">
      Url requerida
    </div>
    <div
      *ngIf="fg.controls['url'].hasError('invalidNombre')"
      class="text-danger"
    >
      Url invalida
    </div>
    <div
      *ngIf="fg.controls['url'].hasError('minLogNombre')"
      class="text-danger"
    >
      la Url debe tener al menos {{ minLongitud }} de largo
    </div>
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="fg.valid">
    Guardar!
  </button>
</form>
