<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="" />
    <span
      ><h4>{{ posicion }}</h4></span
    >
  </div>
  <div class="card-desc">
    <h3>{{ destino?.nombre }}</h3>
    <p>Servicios</p>
    <ul>
      <li *ngFor="let s of destino?.servicios">
        <span [ngSwitch]="s">
          <i *ngSwitchCase="'desayuno'" style="color: red">{{ s }}</i>
          <i *ngSwitchDefault>{{ s }}</i>
        </span>
      </li>
    </ul>
    <div class="mt-2">
      <a href="#" (click)="voteUp()"
        ><i class="material-icons md-18">thumb_down</i></a
      >
      <a href="#" (click)="voteDown()"
        ><i class="material-icons md-18">thumb_up</i></a
      >
      {{ destino?.votes }}
    </div>
    <div class="mt-2">
      <a [href]="destino?.imagenUrl" class="btn-card" (click)="ir()">Ir!</a>
      <span *ngIf="destino?.isSelected()">
        <span ngNonBindable> {{ - PREFERIDO - }} </span>
      </span>
    </div>
    <div class="mt-2">
      <a [routerLink]="['/destino', destino?.id]">Ver!</a>
    </div>
  </div>
</div>
